<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>dieGo</display-name>
  <welcome-file-list>
<!--     <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file> -->
    <welcome-file>dieGo/index.jsp</welcome-file>
<!--     <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file> -->
  </welcome-file-list>
  
 
 	<servlet>
        <servlet-name>AddUserServlet</servlet-name>
        <servlet-class>GoDieServlets.AddUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddUserServlet</servlet-name>
        <url-pattern>/AddUser</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SearchUserInfo</servlet-name>
        <servlet-class>GoDieServlets.SearchUserInformationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchUserInfo</servlet-name>
        <url-pattern>/SearchUser</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>GoDieServlets.UserLoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/UserLogin</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Update</servlet-name>
        <servlet-class>GoDieServlets.UpdateUserInformationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Update</servlet-name>
        <url-pattern>/UserUpdate</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>GoDieServlets.SerachOrderInformationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/SearchOrder</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>AddOrder</servlet-name>
        <servlet-class>GoDieServlets.AddOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddOrder</servlet-name>
        <url-pattern>/PublishOrder</url-pattern>
    </servlet-mapping>
</web-app>